<h2><%= @user.username%></h2>

<h3>Shipping Details</h3>

<%= form_tag '/update' do %>
    <% flash.each do |key, value| %>
        <div class="help is-danger alert alert-<%= key %>"><%= value %></div>
    <% end %>

    Address:
    <%= text_field_tag :address, "", class: 'input' %><br>
    
    Zipcode:
    <%= text_field_tag :zipcode, "", class: 'input' %><br>

    Phone:
    <%= text_field_tag :phone, "", class: 'input' %><br>
    
    <%= submit_tag "Update Information", class: 'button' %>
<% end %>