<% if @show_product.present? %>
    <img src="" alt="Product image">
    <h2 class="title is-6"><%= product.name %></h2>
    <h3 class="title is-7"><%= product.category.name %></h3>
    <p>Price: $<%=  product.price %></p>
    <p>About this item</p>
    <p><%= product.description %></p>


<% else %>

<div class="product-cell">
    <p class="title is-6"><%= link_to product.name, product %></p>
    <p>Price: $<%=  product.price %></p>
    <% if product.stock_quantity == 0 %>
        <p>--Unavailable--</p>
    <% else %>
        <p>Available: <%= product.stock_quantity %></p>
    <% end %>
    


    <div class="button">
        <div class="quantity">
            

        </div>
        <% if cart.include?(product) %>
            <%= button_to cart_path(product), method: :delete do %>
                Remove item
            <% end %>
        <% else %>
            <%= form_with url: cart_index_path, method: :post do %>
            <%= hidden_field_tag(:id, product.id) %>
            <%= button_tag "Add to cart" %>
            <% end %>
        <% end %>
    </div>
    
</div>

<% end %>


