
<div class="product-cell">
    <p class="title is-6"><%= link_to product.name, product %></p>
    <p>Price: $<%= product.price %></p>
    <% if product.stock_quantity == 0 %>
        <p>Unavailable</p>
    <% else %>
        <p>Available: <%= product.stock_quantity %></p>
    <% end %>
    <p><%= product.description %></p>
    <p><%= product.category.name%></p>
</div>



